
.col-icon{
    border-bottom: 1px solid blue;
}
.btn-serv{
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color:red;
    background-color: #F0F8FF;
   
}

.btn-serve{
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color:black
  
}
#www{
 
    position: absolute;
    border: 3px groove red;
    border-radius: 40px 40px 40px 40px;
    padding: 5px;
}
.mm{
    padding-right: 0px;
}