
.NavBar {
    background-color: rgb(32, 77, 95);
    
  }
  a {
   width: 25px; 
   height: 30px;
  }
  
  .NavBar a {
    float: center;
    color: #ff0000;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 20px;
   
  }
  
  
  .NavBar a:hover {
    background-color: rgb(145, 157, 224);
    color: black;
  }
  
  .logo {
    float: right;
    height: 10px;
    object-fit: cover;
  }