
.title{
    border-bottom: 2px solid red;
}
.img-cart{
    width: 30px;
    height: 30px;
}

.delete-cart{
    width: 20px;
    height: 20px; 
    color: red;
}

/* .hr-table{
    font: xx-large;
    color: black 2px;
} */


    
#fire{
   margin-left: 144px;
}
