

.img-home{
    width: 100%;
    height: 300px;
}

.Home{
    position: relative; 
    text-align: center;
    color: greenyellow;
}
#name{
    position: absolute;
    top: 8px;
    right: 16px;
    color: white;
}